:root{
  --green-dark: #1c6373;
  --green-dark-bg: #159397;
  --yellow-light: rgb(255, 195, 54);
  --gray-text: #365A6E;
  --green-text-light: #009C8F;
  --gray-text-b: #707070;
  --aqua: #BCF3F5;
  --gray-bg: #DCDCDC;
}

/***** General *****/
*{
   font-size: 16px;
}
.green-dark-color{
  color: var(--green-dark);
}
.yellow-light-color{
  color: var(--yellow-light);
}
.green-dark-bg{
  background-color: var(--green-dark-bg);
  color: #fff;
}
.transparent-bg{
  background: transparent;
}
.green-dark-btn{
  background-color: var(--green-dark);
  border-radius: 36px;
  color: #fff !important;
  font-size: 1.3rem;
  padding: 8px 48px;
  border: none;
}
.green-dark-btn:hover,
.green-dark-btn:active,
.green-dark-btn:focus{
  background-color:var(--green-dark-bg);
  color: #fff !important;
}
.yellow-light-btn{
  background-color: #ffa025;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  height: 35px;
  padding-bottom: 2px;
  
}
.btn-collapse.collapsed > i{
  transform: rotate(180deg);
}
.alert{
  color: #627A86;
  font-size: 1rem;
}
/* Create a custom checkbox */
.form-radio-custom >label{
  cursor: pointer;
}
.form-radio-custom input.radio-box{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  bottom: 8px;
  left: -24px;
  height: 20px;
  width: 20px;
  border: 1px solid #ffa025 !important;
  border: none;
}
/* On mouse-over, add a grey background color */
.form-radio-custom:hover input ~ .checkmark {
  background-color: #2379ac;
}
/* When the checkbox is checked, add a blue background */
.large-form input:checked ~ .checkmark {
  background-color: #2379ac;
  border: none !important;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.form-radio-custom input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.form-radio-custom .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/***** ./General *****/

/***** Selector *****/
.vs--single .vs__selected{
  color: #fff !important;
}
.vs__open-indicator{
  fill: #fff !important;
}
.vs__dropdown-toggle{
  border: none !important;
}
#header-language-selector .vs__dropdown-toggle,
#header-moneyex-selector .vs__dropdown-toggle{
  width: 96px !important;
}
.vs__dropdown-menu >li:hover,
.vs__dropdown-menu >li:active,
.vs__dropdown-menu >li:focus,
.vs__dropdown-menu >li:visited{
  background-color: var(--green-dark-bg) !important;
  color: #fff;
}
/***** ./Selector *****/

/***** Main Widget *****/
.main-widget{
  height: 519px;
  min-width: 500px;
  background-color: rgba(112, 112, 112, 0.5);
  padding: 28px 40px 5px 40px;
}
.main-widget#detailWidget{
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}
.main-widget .nav-pills .nav-item{
  background-color: #eaebea;
}
.main-widget .nav-pills .nav-item .nav-link{
  border-radius: 0;
}
.main-widget .nav-pills .nav-item >a{
  color: var(--green-dark);
}
.main-widget .nav-pills .nav-item >a.active,
.main-widget .nav-pills .nav-item >a:hover
{
  background-color: var(--green-dark);
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.main-widget .search-form h1{
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
}
.main-widget .input-group .input-el{
  border-right: none;
  border-radius: 10px;
}
.main-widget .input-group .input-icon{
  background: #fff;
  border-left: none;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}
.main-widget label{
  color: #365067;
  font-size: 1.25rem;
  font-weight: bold;
}
.main-widget#detailWidget label{
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.main-widget .form-row .form-group{
  margin-bottom: 0;
}
.main-widget .submit-btn{
  background-color: #ffa025;;
  color: #fff;
  border-radius: 60px;
  font-weight: bold;
  font-size: 1rem;
  height: 35px;
}
.main-widget .notes{
  color: #727176;
}
.main-widget .price >p{
  margin-bottom: 0;
}
.main-widget #total-row .btn-collapse{
  width: 100%;
  border-radius: 10px;
}
.main-widget #total-row .btn-collapse:hover,
.main-widget #total-row .btn-collapse:active,
.main-widget #total-row .btn-collapse:focus{
  background-color: var(--yellow-light);
}
#total-area p{
  color: #365067;
  margin-bottom: 0.5rem;
}
#total-area .total-price{
  font-size: 1rem;
}
.dt-picker .form-control,
.tm-picker .form-control{
  border-radius: 10px;
  color: var(--gray-text);
  font-size: .9rem;
}
#booking-detail .alert >ul{
  padding-left: 1rem;
  margin-bottom: 0;
  color: var(--gray-text-b);
}
#adults, #kids {
  border-radius: 10px;
}
/***** ./Main Widget *****/

/***** Book with us *****/
.box{
  cursor: pointer;
  border: 1px solid white;
}
.box.green{
  background-color: white;
}
.box.green:hover{
  border: 1px solid #9cd2c6;
}
.alert.yellow{
  background-color: #FFF5DC;
}
.box img{
 width: 40px;
 height: 40px;
 border-radius: 50%;
}
.box .text .title{
 font-size: 1rem;
 font-weight: 400;
}
.box .text .detail{
  color: white;
  font-size: .8rem;
  font-weight: 400;
 }
 #book-with-us .box{
   display: flex;
   flex-direction: column;
 }
 #booking1 #book-with-us .container{
  padding: 0
 }
/*****  ./Book with us *****/

/***** Footer *****/
footer{
  background-color: var(--green-dark);
}
footer .title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul >li{
  font-size: 1rem;
}
footer a{
  text-decoration: none !important;
  color: #fff;
}
footer a:hover{
  text-decoration: none #2379ac !important;
  font-weight: bold;
}
footer .bottom .links > ul>li,
footer .bottom .contact > ul>li {
  display:inline;
}
footer .social-net-icons{
  max-width: 180px;
}
.sn-link:hover{
  text-decoration: none;
}
.sn-icon{
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sn-icon#facebook{
  /* background-color: #4267b2; */
  color: #365067;
}
.sn-icon#twitter{
  /* background-color: rgb(29, 161, 242); */
  color: #365067;
}
.sn-icon#instagram{
  /* background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  color: #365067;
}
.sn-icon#youtube{
  /* background-color: #c4302b; */
  color: #365067;
}

/***** ./Footer *****/

/***** Large Form *****/

.form-quote {
  border-bottom: 1px solid #ffa025;
  padding-bottom: 1.4rem;
}
.large-form{
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #2379ac;
  border-radius: 5px;
}
.large-form >h3{
  font-size: 2.3rem;
  color: var(--gray-text-b);
}
.large-form label{
  font-size: .95rem;
  color: #2379ac;
  font-weight: 500;
}
.large-form input,
.large-form textarea,
.large-form select{
  border: none;
  border-bottom: 1px solid #ffa025;
  color: #ffa025;
  height: 38px;
}
.large-form input{
  background-color: white;
}
.large-form select > option:hover{
  background-color: var(--green-text-light);
}
.large-form #submit-btn{
  max-width: 230px;
  width: 100%;
  height: 35px;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 800;
}
/***** Large Form *****/