/***** Booking Step 2: Payment *****/
.booking-summary-card{
  border: none;
}
.summary-content{
  color: #2379ac;
}
.summary-content h1{
  border-bottom: 1px solid #2379ac;
  color: #ffa025;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.summary-content h1 >span{
  font-weight: 500;
}
.summary-content .group > p{
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.summary-content .group > p.item{
  width: 25%;
  font-weight: 600;
}
.summary-content .total{
  border-bottom: 1px solid #2379ac;
  padding-bottom: 10px;
}
.summary-content .total-md{
  border-top: 1px solid #2379ac;
  padding-top: 10px;
}
.summary-content .total-md p{
  font-size: 22px !important;
}
.form-area .subtitle{
  color: #2379ac;
}
#reservation-form .form-row .form-group #phone{
  width: 72%;
}
.booking-summary-card img{
  height: 320px;
}
/***** ./Booking Step 2: Payment *****/